language: node_js
node_js:
  - node
  - 8
  - 6

jobs:
  include:
    - stage: test
      if: branch = master AND type IN (push, pull_request)
      before_install: which npx || yarn global add npx
      script:
        - yarn typecheck
        - yarn coverage
      after_success: npx codecov
    - stage: deploy master
      if: branch = master AND type IN (push)
      script: skip
      deploy:
        provider: npm
        tag: next
        skip_cleanup: true
        email: $NPM_EMAIL
        api_key: $NPM_TOKEN
        on:
          branch: master
          repo: vitarn/serverless-tools
          node: node
    - stage: deploy tag
      if: tag IS present
      script: skip
      deploy:
        provider: npm
        skip_cleanup: true
        email: $NPM_EMAIL
        api_key: $NPM_TOKEN
        on:
          tags: true
          repo: vitarn/serverless-tools
          node: node

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

cache: yarn

notifications:
  email: false
