language: node_js
node_js:
  - node
  - 8
  - 6
  - 4

branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

cache: yarn

notifications:
  email: false

stages:
  - test
  - name: deploy
    if: tag IS present

jobs:
  include:
    - stage: test
      before_install: which npx || yarn global add npx
      before_script: yarn build
      script: npx nyc yarn test
      after_success: npx nyc report --reporter=lcov && npx codecov'

    - stage: deploy
      node_js: node
      deploy:
        provider: npm
        email: $NPM_EMAIL
        api_key: $NPM_TOKEN
        on:
          tags: true
          repo: vitarn/serverless-tools
          node: node
